//! **************************************************************************
// Written by: Map P.28xd on Mon Nov 25 15:58:52 2019
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "snd" LOCATE = SITE "C13" LEVEL 1;
COMP "rst" LOCATE = SITE "G12" LEVEL 1;
COMP "Leds<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "Leds<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "Leds<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "Leds<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "Leds<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "Leds<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "Leds<6>" LOCATE = SITE "P4" LEVEL 1;
COMP "Leds<7>" LOCATE = SITE "G1" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "P11" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "L3" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "K3" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "B4" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "G3" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "F3" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "E2" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "N3" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
PIN ram/Mram_mem.A_pins<10> = BEL "ram/Mram_mem.A" PINNAME CLKA;
PIN ram/Mram_mem.B_pins<10> = BEL "ram/Mram_mem.B" PINNAME CLKB;
TIMEGRP clk = BEL "controller/regB_31" BEL "controller/regB_30" BEL
        "controller/regB_29" BEL "controller/regB_28" BEL "controller/regB_27"
        BEL "controller/regB_26" BEL "controller/regB_25" BEL
        "controller/regB_24" BEL "controller/regB_23" BEL "controller/regB_22"
        BEL "controller/regB_21" BEL "controller/regB_20" BEL
        "controller/regB_19" BEL "controller/regB_18" BEL "controller/regB_17"
        BEL "controller/regB_16" BEL "controller/regB_15" BEL
        "controller/regB_14" BEL "controller/regB_13" BEL "controller/regB_12"
        BEL "controller/regB_11" BEL "controller/regB_10" BEL
        "controller/regB_9" BEL "controller/regB_8" BEL "controller/regB_7"
        BEL "controller/regB_6" BEL "controller/regB_5" BEL
        "controller/regB_4" BEL "controller/regB_3" BEL "controller/regB_2"
        BEL "controller/regB_1" BEL "controller/regB_0" BEL
        "controller/regA_31" BEL "controller/regA_30" BEL "controller/regA_29"
        BEL "controller/regA_28" BEL "controller/regA_27" BEL
        "controller/regA_26" BEL "controller/regA_25" BEL "controller/regA_24"
        BEL "controller/regA_23" BEL "controller/regA_22" BEL
        "controller/regA_21" BEL "controller/regA_20" BEL "controller/regA_19"
        BEL "controller/regA_18" BEL "controller/regA_17" BEL
        "controller/regA_16" BEL "controller/regA_15" BEL "controller/regA_14"
        BEL "controller/regA_13" BEL "controller/regA_12" BEL
        "controller/regA_11" BEL "controller/regA_10" BEL "controller/regA_9"
        BEL "controller/regA_8" BEL "controller/regA_7" BEL
        "controller/regA_6" BEL "controller/regA_5" BEL "controller/regA_4"
        BEL "controller/regA_3" BEL "controller/regA_2" BEL
        "controller/regA_1" BEL "controller/regA_0" BEL "controller/regC_2"
        BEL "controller/regC_1" BEL "controller/regC_0" BEL "controller/pc_8"
        BEL "controller/pc_7" BEL "controller/pc_6" BEL "controller/pc_5" BEL
        "controller/pc_4" BEL "controller/pc_3" BEL "controller/pc_2" BEL
        "controller/pc_1" BEL "controller/pc_0" BEL "regf/Mram_regf32" BEL
        "regf/Mram_regf31" BEL "regf/Mram_regf30" BEL "regf/Mram_regf29" BEL
        "regf/Mram_regf28" BEL "regf/Mram_regf27" BEL "regf/Mram_regf26" BEL
        "regf/Mram_regf25" BEL "regf/Mram_regf24" BEL "regf/Mram_regf23" BEL
        "regf/Mram_regf22" BEL "regf/Mram_regf21" BEL "regf/Mram_regf20" BEL
        "regf/Mram_regf19" BEL "regf/Mram_regf18" BEL "regf/Mram_regf17" BEL
        "regf/Mram_regf16" BEL "regf/Mram_regf15" BEL "regf/Mram_regf14" BEL
        "regf/Mram_regf13" BEL "regf/Mram_regf12" BEL "regf/Mram_regf11" BEL
        "regf/Mram_regf10" BEL "regf/Mram_regf9" BEL "regf/Mram_regf8" BEL
        "regf/Mram_regf7" BEL "regf/Mram_regf6" BEL "regf/Mram_regf5" BEL
        "regf/Mram_regf4" BEL "regf/Mram_regf3" BEL "regf/Mram_regf2" BEL
        "regf/Mram_regf1" BEL "xloop/scroll_out_0" BEL "xloop/scroll_out_1"
        BEL "xloop/scroll_out_2" BEL "xloop/scroll_out_3" BEL
        "xloop/scroll_out_4" BEL "xloop/scroll_out_5" BEL "xloop/scroll_out_6"
        BEL "xloop/scroll_out_7" BEL "xloop/snd_freq_counter_20" BEL
        "xloop/snd_freq_counter_19" BEL "xloop/snd_freq_counter_18" BEL
        "xloop/snd_freq_counter_17" BEL "xloop/snd_freq_counter_16" BEL
        "xloop/snd_freq_counter_15" BEL "xloop/snd_freq_counter_14" BEL
        "xloop/snd_freq_counter_13" BEL "xloop/snd_freq_counter_12" BEL
        "xloop/snd_freq_counter_11" BEL "xloop/snd_freq_counter_10" BEL
        "xloop/snd_freq_counter_9" BEL "xloop/snd_freq_counter_8" BEL
        "xloop/snd_freq_counter_7" BEL "xloop/snd_freq_counter_6" BEL
        "xloop/snd_freq_counter_5" BEL "xloop/snd_freq_counter_4" BEL
        "xloop/snd_freq_counter_3" BEL "xloop/snd_freq_counter_2" BEL
        "xloop/snd_freq_counter_1" BEL "xloop/snd_freq_counter_0" BEL
        "xloop/snd_counter_27" BEL "xloop/snd_counter_26" BEL
        "xloop/snd_counter_25" BEL "xloop/snd_counter_24" BEL
        "xloop/snd_counter_23" BEL "xloop/snd_counter_22" BEL
        "xloop/snd_counter_21" BEL "xloop/snd_counter_20" BEL
        "xloop/snd_counter_19" BEL "xloop/snd_counter_18" BEL
        "xloop/snd_counter_17" BEL "xloop/snd_counter_16" BEL
        "xloop/snd_counter_15" BEL "xloop/snd_counter_14" BEL
        "xloop/snd_counter_13" BEL "xloop/snd_counter_12" BEL
        "xloop/snd_counter_11" BEL "xloop/snd_counter_10" BEL
        "xloop/snd_counter_9" BEL "xloop/snd_counter_8" BEL
        "xloop/snd_counter_7" BEL "xloop/snd_counter_6" BEL
        "xloop/snd_counter_5" BEL "xloop/snd_counter_4" BEL
        "xloop/snd_counter_3" BEL "xloop/snd_counter_2" BEL
        "xloop/snd_counter_1" BEL "xloop/snd_counter_0" BEL "xloop/curr_sft_4"
        BEL "xloop/curr_sft_3" BEL "xloop/curr_sft_2" BEL "xloop/curr_sft_1"
        BEL "xloop/curr_sft_0" BEL "xloop/loop_counter_27" BEL
        "xloop/loop_counter_26" BEL "xloop/loop_counter_25" BEL
        "xloop/loop_counter_24" BEL "xloop/loop_counter_23" BEL
        "xloop/loop_counter_22" BEL "xloop/loop_counter_21" BEL
        "xloop/loop_counter_20" BEL "xloop/loop_counter_19" BEL
        "xloop/loop_counter_18" BEL "xloop/loop_counter_17" BEL
        "xloop/loop_counter_16" BEL "xloop/loop_counter_15" BEL
        "xloop/loop_counter_14" BEL "xloop/loop_counter_13" BEL
        "xloop/loop_counter_12" BEL "xloop/loop_counter_11" BEL
        "xloop/loop_counter_10" BEL "xloop/loop_counter_9" BEL
        "xloop/loop_counter_8" BEL "xloop/loop_counter_7" BEL
        "xloop/loop_counter_6" BEL "xloop/loop_counter_5" BEL
        "xloop/loop_counter_4" BEL "xloop/loop_counter_3" BEL
        "xloop/loop_counter_2" BEL "xloop/loop_counter_1" BEL
        "xloop/loop_counter_0" BEL "xloop/snd_gen" BEL "xloop/snd_en" PIN
        "ram/Mram_mem.A_pins<10>" PIN "ram/Mram_mem.B_pins<10>" BEL
        "clk_BUFGP/BUFG.GCLKMUX" BEL "clk_BUFGP/BUFG";
TS_clkin = PERIOD TIMEGRP "clk" 20 ns HIGH 50%;
SCHEMATIC END;

